body {
    color: white;
    font-size: 25px;
}

body *{
    background-color: #5b95d3;
    border: 4px solid #0b4685;
    box-sizing: border-box;
    padding: 20px;
}

header{
    width: calc(50% - 20px);
    float: left;
    height: 20vh;
    margin: 5px 10px;
}

nav{
    width: calc(50% - 20px);
    float: right;
    height: 60vh;
    margin: 5px 10px;
}

aside{
    width: calc(50% - 20px);;
    float: left;
    height: 20vh;
    margin: 5px 10px;
}

main{
    width: calc(50% - 20px);
    float: left;
    height: 20vh;
    margin: 5px 10px;
}

footer{
    width: calc(100% - 20px);
    clear: both;
    height: 30vh;
    margin: 15px 10px;
}